body {
    background: rgba(0, 0, 0, 0.0001);
}

.header {
    text-align: center;
}

.container {
    width: 1280px;
    margin: 0 auto;

}

.nav {
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}

.list-item {
    display: inline-block;
    margin-right: 72px;
}


.list-item:nth-of-type(3) {
    margin-right: 50px;
}

.list-item:last-child {
    margin-right: 0;
}


.nav-link {
    text-transform: uppercase;
    color: #FF0000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 2.7px;
}

.main-content {
    text-align: center;
}

.main-image {
    width: 100%;
}

.main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;

    margin-top: 48px;
    margin-bottom: 38px;
}

.container-text {
    width: 1145px;
    margin: 0 auto;

}

.main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;

    margin-bottom: 28px;
}

.main-button {
    margin-top: 38px;
    margin-bottom: 82px;
    text-transform: uppercase;
    background: #FF0000;
    padding: 18px 43.5px 17px 42.5px;
    letter-spacing: 1.8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    border-radius: 4px;
}

.footer-copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    letter-spacing: 2.4px;
    margin-left: 713px;
    margin-bottom: 29px;
}